In [1]:
import pandas as pd

In [2]:
# Program to measure the similarity between
# two sentences using cosine similarity.
from nltk.tokenize import word_tokenize

In [3]:
def cosine_similarity_calculator(X,Y):
    # tokenization
    X_list = word_tokenize(X)
    Y_list = word_tokenize(Y)

    l1 =[];l2 =[]

    # remove stop words from the string
    X_set = {w for w in X_list}
    Y_set = {w for w in Y_list}

    # form a set containing keywords of both strings
    rvector = X_set.union(Y_set)
    for w in rvector:
        if w in X_set: l1.append(1) # create a vector
        else: l1.append(0)
        if w in Y_set: l2.append(1)
        else: l2.append(0)
    c = 0

    # cosine formula
    for i in range(len(rvector)):
            c+= l1[i]*l2[i]
    cosine = c / float((sum(l1)*sum(l2))**0.5)
    return cosine

In [4]:
data = pd.read_excel('data_contoh.xlsx',sheet_name='Sheet1')
data

        Nama_1       Nama_2
0  Abdul muluk  Abdul melek
1  Siti Maryam  Maryam Siti
2   Meja Kursi  Baju Celana
3     Komputer     Komputer

In [5]:
data['Similarity'] = data.apply(lambda x: cosine_similarity_calculator(x.Nama_1, x.Nama_2), axis=1)

In [6]:
data

        Nama_1       Nama_2  Similarity
0  Abdul muluk  Abdul melek         0.5
1  Siti Maryam  Maryam Siti         1.0
2   Meja Kursi  Baju Celana         0.0
3     Komputer     Komputer         1.0